<div class="container text-center" style="padding-top: 50px">

  <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAA0dAAAAJGJmNzczZjdmLTRiY2UtNDZlNi1hMWMxLTgxNjJlM2U3ZDU2ZA.jpg" />
  <h1>Hey, I'm Garry the Approver</h1>

  <%= form_tag "/find_users_with_timesheets", method: "get" do %>
    <%= label_tag(:user_id, "Autoapprove all shift in current week") %>
    <br />
    <%= submit_tag("Approve All Shifts!") %>
  <% end %>

</div>